canvas {
  border: 3px solid black;
  width: 100%;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.page-nav-container {
  align-self: center;
}

.secondr-container {
  display: flex;
  justify-content: space-between;
}
.quiz-button {
  z-index: 999;
  position: fixed;
  left: 80vw;
  bottom: 7vh;
}
.outer-quiz-box {
  width: 80vw;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 999;
  bottom: 2vh;
}

#quizBox {
  width: 60vw;
  height: 50vh;
  background-color: #000435;
  padding: 3%;
}

.text-inside-quiz {
  color: white;
}
