canvas {
  border: 3px solid black;
  width: 100%;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.page-nav-container {
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.select-con {
  position: absolute; /* Position it absolutely within the container */
  left: 50%; /* Move it to the middle horizontally */
  transform: translateX(
    -50%
  ); /* Offset it by half its width to truly center it */
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondr-container {
  display: flex;
  justify-content: space-between;
}
.quiz-button {
  z-index: 999;
  position: fixed;
  left: 77vw;
  bottom: 7vh;
  display: flex;
}
.outer-quiz-box {
  width: 80vw;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 999;
  bottom: 20vh;
}

#quizBox {
  width: 60vw;
  height: 50vh;
  background-color: #000435;
  padding: 3%;
  border-radius: 10px;
  position: relative;
}

/* #quizBox.loaded::after,
#quizBox.loaded::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 75%;
  width: 102%;
  background: red;
  z-index: -1;
  border-radius: 15px;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  animation: 3s spin linear infinite;
  translate: -5% -14%;
} */

.text-inside-quiz {
  color: white;
}

.stars-img {
  width: 2vw;
  height: auto;
}

.star-con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.quiz-button-inner {
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.quiz-button-inner::after,
.quiz-button-inner::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 118%;
  width: 108%;
  background: red;
  z-index: -1;
  border-radius: 15px;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  animation: 3s spin linear infinite;
}

.draw-menu {
  align-self: left;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.stars-img {
  width: 4vw;
  height: auto;
}
